:root {
  /* ### Primary */

  --Moderateviolet: hsl(263, 55%, 52%);
  --Verydarkgrayishblue: hsl(217, 19%, 35%);
  --Verydarkblackishblue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* ### Neutral */

  --Lightgray: hsl(0, 0%, 81%);
  --Lightgrayishblue: hsl(210, 46%, 95%);

  /* ###Typography */
  --FontSize: 13px;
  --fontFamily: "Barlow Semi Condensed", sans-serif;
  --fontWeightLight: 500;
  --fontWeightHeavy: 600;
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}

h3 {
  font-weight: var(--fontWeightHeavy);
  font-size: 1.5rem;
}

h2 {
  font-weight: var(--fontWeightHeavy);
  font-size: 1.1rem;
}

p {
  font-weight: var(--fontWeightLight);
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  font-family: var(--fontFamily);
  background-color: var(--Lightgrayishblue);
}

header {
  position: absolute;
  left: -999999px;
  top: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "area1 area1 area2 area5"
    "area3 area4 area4 area5";
  width: 95vw;
  max-width: 1440px;
  gap: 2rem;
  margin-bottom: 1rem;
}

article {
  padding: 2rem 2rem;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 10px 15px 40px -25px rgba(0, 0, 0, 0.5);
}

.white-article {
  background-color: var(--White);
  color: black;
}

.white-article .header h2 {
  color: rgba(0, 0, 0, 0.8);
}

.white-article .header p {
  color: rgba(0, 0, 0, 0.5);
}

.white-article .main p {
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
}

article.bottom-articles {
  padding-bottom: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.header img {
  height: 2.5rem;
  border-radius: 50%;
}

.header h2 {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
}

.header p {
  color: rgba(255, 255, 255, 0.5);
}

.main h3 {
  margin-bottom: 1.5rem;
  line-height: 1.3;
  opacity: 0.9;
}

.main p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.4;
}

.article-1 {
  grid-area: area1;
  background-color: var(--Moderateviolet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 78.25% 0;
  background-size: 20% 38%;
  padding: 2rem 2.5rem;
}

.article-1 .header img {
  border: 2px solid var(--White);
}

.article-2 {
  grid-area: area2;
  background-color: var(--Verydarkgrayishblue);
  padding: 2rem 2.5rem;
}

.article-3 {
  grid-area: area3;
  padding: 2rem 2.5rem;
}

.article-3 .main h3 {
  padding-right: 1rem;
  opacity: 0.7;
}

.article-5 .main h3 {
  opacity: 0.7;
}

.article-4 .main h3 {
  opacity: 0.8;
}

.article-4 {
  grid-area: area4;
  background-color: var(--Verydarkblackishblue);
  padding: 2rem 2.75rem;
}

.article-4 .header img {
  border: 2px solid var(--Moderateviolet);
}

.article-5 {
  grid-area: area5;
}

.article-5 .main h3 {
  margin-bottom: 2rem;
}

.article-5 .main p {
  padding-right: 1rem;
  line-height: 1.45;
}

/* ###-Responsive Design-### */
@media (max-width: 1260px) {
  body {
    height: auto;
    padding: 1rem;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "area1 area1 area2"
      "area3 area4 area4"
      "area5 area5 area5";
  }

  .article-5 .main p {
    padding-right: 0;
  }

  .article-1,
  .article-2,
  .article-3,
  .article-4 {
    padding: 2rem;
  }
}

@media (max-width: 940px) {
  .container {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }

  article.bottom-articles {
    padding-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90vw;
  }

  h3 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 14px;
  }

  .article-1 .main p {
    font-size: 13px;
  }

  .article-5 .main h3 {
    font-size: 17.5px;
  }

  p {
    font-size: 12px;
  }

  .header img {
    height: 2.25rem;
  }

  .article-1 {
    background-position: 80% 0;
    background-size: 40% 31%;
  }

  .article-5 .main h3 {
    margin-bottom: 1.5rem;
  }
}

@media (max-height: 820px) {
  body {
    padding: 2rem 0;
  }
}
